body{
    font-family: sans-serif;
}

.content{
    padding-top: 5%;
    display: flex;
    justify-content: center;
    height: 80vh;
}

.content-text{
    padding-top: 3rem;
    background-image: url('./img/thea-name.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.content-text h2{
    font-size: 2.5rem;
    color: black;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.content-text h3{
    font-size: 1rem;
    letter-spacing: 5px;
    color: #554a3d;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    margin: 1rem 0  0   0;
    padding: 0;
}

.content-img{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.content-img img{
    border-radius: 50%;
    height: 13rem;
    object-fit: cover;
    border: 2px solid gray;
    padding: .2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content-pages{
    list-style: none;
    padding: 0;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    gap: .5rem;
}

.content-pages li a{
    font-size: 1.3rem;
    font-weight: 100;
    text-decoration: none;
    color: #554a3d;

    padding: .7rem 1.5rem;
    background-color: #d3d7d5;
    border-radius: 50px;
    width: 250px; 
    text-align: center; 
    text-transform: uppercase;
    display: inline-block; 
    border: 1px solid #554a3d;
}

.content-pages li a:hover{
    text-decoration: underline;
}

.content-socmed{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
}

.content-socmed li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background-color: #d3d7d5;
    border-radius: 50px;
    display: inline-block; 
    border: 1px solid #554a3d;
}

.content-socmed li a img{
    width: 1.8rem;
    height: 1.5rem;
}